CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=n
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_zn_m2=y
CONFIG_ATH11K_MEM_PROFILE_1024M=y
CONFIG_NSS_FIRMWARE_VERSION_11_4=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-i18n-openclash-zh-cn=y
CONFIG_PACKAGE_kmod-ath11k=n
CONFIG_PACKAGE_ath11k-firmware=n
CONFIG_PACKAGE_wpad-basic-mbedtls=n
CONFIG_PACKAGE_MAC80211=n
CONFIG_PACKAGE_iw=n
CONFIG_PACKAGE_iwinfo=n
CONFIG_PACKAGE_luci-app-wireless=n
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_usbutils=y
